<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin</title>
</head>
<body>

	<h1>Admin</h1>

		<form action="/admin" method="get">
			
			<label for="username">Por favor ingrese su nombre de usuario</label>
			<input type="text" name="username" id="username">

			<button type="submit">Ingresar</button>

		</form>

</body>
</html>